.szczegoly-main {
  min-height: 100vh; /* Ustawia minimalną wysokość na pełne okno przeglądarki */
  height: 100vh;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(243, 229, 229, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.left-container9 {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  border: solid 1px #ccc;
  background-color: hsl(0, 0%, 100%);
  /* margin-top: 70px; */
  padding-bottom: 0px; /* Dodatkowy odstęp od dołu */
  flex-grow: 1; /* Sprawia, że kontener rozciąga się do pełnej dostępnej wysokości */
  margin-top: 40px;
  padding-bottom: 20px;
  min-height: 100%;
}

.gorne-buttony4 {
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: 5px solid transparent;
  position: relative;
  justify-content: center; /* Wyśrodkowanie nagłówka */
  text-align: center;
  margin: 0px;
  height: 70px;
  color: rgb(249, 249, 249);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsl(15, 100%, 88%),
    hsl(226, 100%, 77%),
    hsl(226, 100%, 77%),
    hsl(149, 100%, 94%)
  );
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  z-index: 1000;
}

.gorne-buttony4 > .home-button {
  position: absolute;
  left: 44px; /* Odstęp od lewej krawędzi */
}

.gorne-buttony4 > h1 {
  margin: 0;
  flex: 1;
  text-align: center;
}


.gorne-buttony4::after {
  color: rgb(249, 249, 249);
  content: "";
  position: absolute;
  bottom: -5px; /* Wysokość marginesu */
  left: 0;
  width: 100%;
  height: 5px; /* Wysokość marginesu */
  background: linear-gradient(
    to right,
    hsl(15, 100%, 78%),
    hsl(226, 100%, 67%),
    hsl(226, 100%, 67%),
    hsl(149, 100%, 84%)
  );
  z-index: 1;
}







.right-container9 {
  /* flex: 1; */
  min-width: 200px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  position: sticky;
  top: 140px;
}

.image-to-show {
  max-width: 90%;
  width: 60%;
  height: auto;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.szczegoly-main p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 90%;
}

.copy-button-kto,
.copy-button- {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  /* background-color: hsl(222, 51%, 56%); */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button-kto img,
.copy-button- img {
  width: 15px;
  height: 15px;
}

.copy-button-kto:hover,
.copy-button-:hover {
  background-color: hsl(222, 51%, 66%);
}

.wesprzyj-teraz-button,
.udostpnij,
.wroc-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  background-color: hsl(222, 51%, 56%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

.wesprzyj-teraz-button {
  animation: pulsate 1.5s infinite;
}

.wroc-button {
  background-color: hsla(167, 59%, 35%, 0.888);
}

.wesprzyj-teraz-button:hover,
.udostpnij:hover {
  background-color: hsl(222, 51%, 46%);
}

.wroc-button:hover {
  background-color: hsla(167, 59%, 25%, 0.888);
}

.collection-bank-x {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

.share-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.share-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 30px;
}

.share-modal-content h2 {
  margin-bottom: 10px;
}

.share-modal-content input {
  /* padding: 5px; */
  /* margin-bottom: 10px; */
}

.share-modal-content button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: hsl(222, 51%, 56%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.share-modal-content button:hover {
  background-color: hsl(222, 51%, 46%);
}

.share-modal-content p {
  margin-bottom: 20px;
  color: #5c5c5c;
  margin-bottom: 0px;
}

.collection-fundsWithCity2 {
  display: flex;
  justify-content: space-between; 
  align-items: left; 
  font-size: 18px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  margin-top: auto; 
  /* margin-left: -50px; */
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 100%;
}


.collection-description9 {
  font-size: 26px;
  display: -webkit-box;

  text-overflow: ellipsis; /* Add ellipsis */
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}


.collection-authorWithCity {
  display: flex;
  align-items: left;
  font-size: 20px;
  color: rgb(112, 112, 112);
  margin-top: 0px;
  margin-left: 50px;
}

.collection-authorWithCity .MuiSvgIcon-root {
  font-size: 18px;
  /* margin-right: 5px; */
}

.collection-authorWithCity .collection-city2 {
  margin-left: 0px;
}



@media (max-width: 768px) {
  .szczegoly-main {
    flex-direction: column;
    align-items: center;
  }

  .right-container9 {
    margin-left: 0;
    width: 50%;
  }

  .szczegoly-main h1 {
    font-size: 2em;
  }

  .szczegoly-main p {
    font-size: 1em;
  }

}



