@keyframes pulsate {
  0% {
    transform: scale(1);
    background-color: hsl(222, 51%, 56%);
  }
  50% {
    transform: scale(1.06);
    background-color: hsl(222, 51%, 66%);
  }
  100% {
    transform: scale(1);
    background-color: hsl(222, 51%, 56%);
  }
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgb(249, 249, 249);
}

.gorne-buttony {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 5px solid transparent; /* Ustawiamy wysokość marginesu dolnego jako obramowanie */
  position: relative;
  color: white;
  position: fixed; /* Ustawienie elementu na stałe w jednym miejscu */
  top: 0; /* Ustawia go na samej górze strony */
  left: 0; /* Ustawia go na samej lewej stronie */
  width: 100%; /* Element zajmuje całą szerokość ekranu */
  
  background-image: linear-gradient(
    to right,
    hsl(15, 100%, 88%),
    hsl(226, 100%, 87%),
    hsl(226, 100%, 87%),
    hsl(149, 100%, 94%)
  );
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  position: sticky;
  z-index: 100;
}

.gorne-buttony::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Wysokość marginesu */
  left: 0;
  width: 100%;
  height: 5px; /* Wysokość marginesu */
  background: linear-gradient(
    to right,
    hsl(15, 100%, 78%),
    hsl(226, 100%, 77%),
    hsl(226, 100%, 77%),
    hsl(149, 100%, 84%)
  );
  color: white;
  z-index: 1; /* Ustaw z-index, aby znajdował się poniżej */

}


.button-tworz-szukaj {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  color: white;
}

.button-loguj-rejestruj {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.button-tworz,
.button-twoje,
.button-stan {
  margin: 5px;
  padding: 15px;
  border: none;
  background-color: hsl(222, 51%, 56%);
  color: rgb(249, 249, 249);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-stan{
  background-color: hsl(34, 68%, 44%);
}

.button-tworz:hover,
.button-twoje:hover {
  margin: 5px;
  padding: 15px;
  border: none;
  background-color: hsl(222, 51%, 46%);
  color: rgb(249, 249, 249);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-stan:hover{
  background-color: hsl(34, 68%, 34%);
}

.button-szukaj {
  margin: 5px;
  padding: 15px;
  border: none;
  background-color: hsl(222, 51%, 56%);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  animation: pulsate 1.5s infinite;
}

.button-szukaj:hover {
  margin: 5px;
  padding: 15px;
  border: none;
  background-color: hsl(222, 51%, 66%);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-loguj {
  margin-left: 5px;
}

.button-rejestruj {
  margin-left: 5px;
}

.button-loguj {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: hsl(163, 48%, 63%);
  color: rgb(249, 249, 249);
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-rejestruj {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: hsl(163, 48%, 63%);
  color: rgb(249, 249, 249);
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-loguj:hover {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: hsl(163, 48%, 53%);
  color: rgb(249, 249, 249);
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-rejestruj:hover {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: hsl(163, 48%, 53%);
  color: rgb(249, 249, 249);
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

/* logowanie i rejestracja */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal input {
  /* padding: 5px; */
  /* margin-bottom: 10px; */
}

.modal button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: hsl(222, 51%, 56%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: hsl(222, 51%, 46%);
}
