.gorne-buttony2 {
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: 5px solid transparent; 
  position: relative;
  justify-content: center;
  text-align: center;
  margin: 0px;
  height: 70px;
  color: rgb(249, 249, 249);
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 

  background-image: linear-gradient(
    to right,
    hsl(15, 100%, 88%),
    hsl(226, 100%, 77%),
    hsl(226, 100%, 77%),
    hsl(149, 100%, 94%)
  );
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  z-index: 1000;
}

.gorne-buttony2::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 100%;
  height: 5px; 
  background: linear-gradient(
    to right,
    hsl(15, 100%, 78%),
    hsl(226, 100%, 67%),
    hsl(226, 100%, 67%),
    hsl(149, 100%, 84%)
  );
  z-index: 1; 

}



.page-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;

}

.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}



.left-column2 {
  flex: 3;
  margin-right: 320px;
  margin-top: 80px;
}


.right-column2 {
  height: 290px;
  flex: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: justify;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #8c8c8c;
  position: fixed; 
  top: 140px; 
  right: 20px; 
  width: 300px; 

}



.main-page-grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.main-page-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-frame2 {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #888787;
  margin: 0px;
  border-radius: 7px;
  width: 100%; 
  
  height: 520px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  position: relative;
  max-width: 400px;
}

.collection-frame2-selected {
  background-color: hsl(0, 3%, 94%);
  border: 1px solid #888787;
  margin: 0px;
  border-radius: 7px;
  width: 100%; 
  height: 520px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  position: relative;
  max-width: 400px;
}

.collection-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.collection-title2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(39, 38, 38);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  padding: 10px 10px;
  margin-top: -1px; 
  margin-left: 10;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 

  box-sizing: border-box;
}


.collection-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.collection-description2 {
  font-size: 16px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  flex-grow: 1; 
}


.button-container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


.collection-active{
  background-color: hsl(113, 29%, 49%);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 100%; 
  height: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

.collection-notactive{
  background-color: hsl(0, 73%, 39%);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 100%; 
  height: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
}

.collection-fundsWithCity {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-size: 18px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  margin-top: auto; 
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0px;
}

.collection-funds {
  text-align: left; 
}

.collection-city {
  display: flex;
  align-items: center; 
  text-align: right; 
}

.button-edytuj3,
.button-zakoncz3,
.button-twitter3,
.button-anuluj3 {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}


.button-zakoncz3, .button-twitter3, .button-edytuj3 {
  background-color: hsl(222, 51%, 56%);
  color: white;
}

.button-anuluj3 {
  background-color: hsla(167, 59%, 35%, 0.888); 
  color: white;
}

.button-edytuj3:hover,
.button-twitter3:hover,
.button-zakoncz3:hover {
  background-color: hsl(222, 51%, 46%);
}

.button-twitter3-disabled, .button-edytuj3-disabled, .button-zakoncz3-disabled {
  background-color: hsl(222, 51%, 56%);
  color: white;
  background-color: hsl(0, 0%, 62%);
  cursor: not-allowed;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.button-anuluj3:hover {
  background-color: hsla(167, 59%, 25%, 0.888);
}