.szczegoly-main {
  /* max-width: 90%; */
  /* margin: auto; */
  /* padding: 20px; */
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(243, 229, 229, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.gorne-buttony4 {
  display: flex;
  align-items: center;
  padding: 0px;
  border-bottom: 5px solid transparent; /* Ustawiamy wysokość marginesu dolnego jako obramowanie */
  position: relative;
  justify-content: center;
  text-align: center;
  margin: 0px;
  height: 70px;
  color: rgb(249, 249, 249);
  position: fixed; /* Ustawienie elementu na stałe w jednym miejscu */
  top: 0; /* Ustawia go na samej górze strony */
  left: 0; /* Ustawia go na samej lewej stronie */
  width: 100%; /* Element zajmuje całą szerokość ekranu */

  background-image: linear-gradient(
    to right,
    hsl(15, 100%, 88%),
    hsl(226, 100%, 77%),
    hsl(226, 100%, 77%),
    hsl(149, 100%, 94%)
  );
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  z-index: 1000;
}

.gorne-buttony4::after {
  color: rgb(249, 249, 249);
  content: "";
  position: absolute;
  bottom: -5px; /* Wysokość marginesu */
  left: 0;
  width: 100%;
  height: 5px; /* Wysokość marginesu */
  background: linear-gradient(
    to right,
    hsl(15, 100%, 78%),
    hsl(226, 100%, 67%),
    hsl(226, 100%, 67%),
    hsl(149, 100%, 84%)
  );
  z-index: 1;
}

.left-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: none; */
  /* border-radius: 10px; */
  border: solid 1px #ccc;
  background-color: hsl(0, 0%, 100%);
  margin-top: 70px;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 20px;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  position: sticky;
  top: 140px; 
}

.image-to-show {
  max-width: 100%;
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.szczegoly-main p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

.copy-button-kto,
.copy-button- {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  /* background-color: hsl(222, 51%, 56%); */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button-kto img,
.copy-button- img {
  width: 15px;
  height: 15px;
}

.copy-button-kto:hover,
.copy-button-:hover {
  background-color: hsl(222, 51%, 66%);
}

.wesprzyj-teraz-button,
.udostpnij,
.wroc-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  background-color: hsl(222, 51%, 56%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

.wesprzyj-teraz-button {
  animation: pulsate 1.5s infinite;
}

.wroc-button {
  background-color: hsla(167, 59%, 35%, 0.888);
}

.wesprzyj-teraz-button:hover,
.udostpnij:hover {
  background-color: hsl(222, 51%, 46%);
}

.wroc-button:hover {
  background-color: hsla(167, 59%, 25%, 0.888);
}

.collection-bank-x {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .szczegoly-main {
    flex-direction: column;
    align-items: center;
  }

  .right-container {
    margin-left: 0;
    width: 100%;
  }

  .szczegoly-main h1 {
    font-size: 2em;
  }

  .szczegoly-main p {
    font-size: 1em;
  }

  .wesprzyj-teraz-button,
  .udostpnij,
  .wroc-button {
    padding: 8px 10px;
    font-size: 0.8em;
    background-color: hsl(0, 100%, 37%);
  }

  .image-to-show {
    max-width: 70%;
  }
}
